# Exclude minified files from GitHub language statistics
public/pdf.worker.min.mjs linguist-vendored

# Mark TypeScript as the main language
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

